*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

body{
	background-color: #edede9;
}

.navbar{
	padding-right: 200px;
	padding-left: 100px;
	position: sticky;
	background-color: #edede9;
	top: 0;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img{
	height: 60px;
	width: 100px;
}

.nav li{
	list-style: none;
	display: inline-block;
	padding: 20px;
	margin-top: 5px;
}

.nav li a{
	color: #3E3C3C;
	font-size: 20px;
	margin-right: 40px;
	text-decoration: none;
}

.nav li a:hover{
	color: #d6ccc2;
}

.game img{
	height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 250px;
}

.main h1{
	font-size: 40px;
	text-align: center;
	color: #3E3C3C;
	padding-top: 3vh;
}

.main p{
	text-align: center;
	margin-bottom: 10%;
}

.about{
    padding: 5px;
    display: flex;
	gap: 10vh;
	padding-top: 10%;
}

.left{
    justify-content: center;
    float: left;
    text-align: center;
    margin-left: 6vh;
    color: #3E3C3C;
}
.right{
    float: right;
    text-align: justify;
    justify-content: center;
    max-width: 70vw;
    color: #3E3C3C;
    margin-right: 10vh;
}

.connect{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.what h2{
	text-align: center;
	transform: translateY(200px);
}

.card{
	position: relative;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);	
	transition: 0.3s;
	padding: 30px 50px;
	background: #fff;
	cursor: pointer;
}

.card:hover{
	height: 280px;
}

.imgbox{
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-80px);
}

.imgbox img{
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.content{
	padding: 10px 20px;
	text-align: center;
	transform: translateY(80px);
	opacity: 0;
	transition: 0.3s;
}

.card:hover > .content{
	opacity: 1;
	transform: translateY(-130px);
}


footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo h3 {
    width: 200px; 
}

.footer-logo p {
    width: 400px;
	margin-top: 30px; 
	text-align: justify;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}


.footer-links li {
    margin-bottom: 10px;
	margin: 20px;
}

.footer-links a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.facebook a:hover{
	color: rgb(1, 101, 225);
}

.twitter a:hover{
	color: rgb(29, 155, 240);
}

.instagram a:hover{
	color: rgb(232, 111, 107);
}

.discord a:hover{
	color: rgb(141, 180, 238);
}

.footer-contact {
    text-align: center;
}
.footer-contact p{
	margin: 20px;
}

.container p{
	background-color: black;
	color: white;
	text-align: center;
}
